<h1>CREATE A NEW CAKE</h1>

<section class="new">

    <form action="/cakes" method="POST">
        <label for="cake_name">
            Name:
        </label>
        <input name="cake_name"/>

        <label for="image_url">
            Image_url:
        </label>
        <input name="image_url" />

        <label for="price">
            Price:
        </label>
        <input name="price" />

        <input type="submit" value="Add cake" />
    </form>
</section>