<h1>HERE I WANT TO CREATE A LOGO + INSERT A LARGE PHOTO</h1>
<BR></BR>
<div>
   <form action="/cakes" method="POST">
    <label for="name">
        Name:
    </label>
    <input name="name"/>

    <label for="price">
        Price:
    </label>
    <input name="price" />

    <label for="image_url">
        Image Url:
    </label>
    <input name="image_url" />

    <input type="submit" value="Add cake" />
</form>
<BR></BR>
</div>

<div>HERE I WANT TO INSERT A TABLE TO DISPLAY CAKES (INCLUDING EDIT/DELETE)</div>
<BR></BR>
<H3>HERE I NEED TO INSERT THE FOOTER FOR CONTACT US SECTION, SITE MAP, SOCIAL MEDIA</H3>
<footer></footer>