<h1>Mia Pastry Shop</h1>

<header>
   <div>
      <div>
         <h2>LOGO</h2>
      </div>
      <nav>
         <h2>MENU</h2>
      </nav>
      <div>
      <form action="">LOGIN</form>
         <input type="text" placeholder="email">
         <input type="password" placeholder="password">
      </div>
      
      <br>

      <a href="/display">CLICK HERE TO ENTER</a>
   
   </div>
</header>