
<header>
   <div id="main-box">
      <h1>MIA PASTRY SHOP</h1>
   </div>   
</header>

<section>

      <div class="box">
         <form action="">EXISTING USERS</form>
            <a class="login" href="/login">LOG-IN HERE</a>
      </div>
         <div class="box">
         <form action="">NEW USERS</form>
            <a class="signup" href="/signup">SIGN-UP HERE</a>
      </div>
   
</section>
