<h1>Mia Pastry Shop</h1>

<header>
   <div>
      <div>
         <h2>LOGO</h2>
      </div>
      <nav>
         <h2>MENU</h2>
      </nav>
      <div>
      <form action="">EXISTING USERS</form>
         <input type="text" placeholder="email">
         <input type="password" placeholder="password">
         <button>LOGIN</button>
      </div>
      
      <br>
      <form action="">NEW USERS</form>
         <input type="text" placeholder="name">
         <input type="text" placeholder="email">
         <input type="password" placeholder="password">
         <button>SIGN UP</button>
      </div>
      
      <br>
   
   </div>
</header>