
<header>

   <div>
      <h1>Mia Pastry Shop</h1>
      <div>
         <h2>LOGO</h2>
      </div>
      <nav>
         <h2>MENU</h2>
      </nav>
      <div>
      <form action="">EXISTING USERS</form>
         <a href="/login">Login Here</a>
      </div>
      
      <br>
      <form action="">NEW USERS</form>
         <a href="/signup">Signup Here</a>
      </div>
      
      <br>
   
   </div>
</header>