<h1>EDIT A CAKE</h1>
<a href="/cakes">HOME</a>

<section class="edit">
    <form action="/cakes/<%= cake["id"] %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <label for="cake_name">
            Name:
        </label>
        <input name="cake_name" value="<%= cake["cake_name"] %>"/>

        <label for="image_url">
            Image Url:
        </label>
        <input name="image_url" value="<%= cake["image_url"] %>" />

        <label for="price">
            Price:
        </label>
        <input name="price" value="<%= cake["price"] %>" />

        <input type="submit" value="Update cake" />
    </form>
</section>


