<form action="/cakes/<%= item["id"] %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <label for="name">
        Name:
    </label>
    <input name="cake_name" value="<%= item["cake_name"] %>"/>

    <label for="price">
        Price:
    </label>
    <input name="price" value="<%= item["price"] %>" />

    <label for="image_url">
        Image Url:
    </label>
    <input name="image_url" value="<%= item["image_url"] %>" />

    <input type="submit" value="Update cake" />
</form>

<a href="/display">HOME</a>