<h1>HERE I WANT TO CREATE A LOGO + INSERT A LARGE PHOTO</h1>
<BR></BR>
<a href="/cakes/create">Create a New Cake</a>
<div>
    <section class="all-cakes"> 
        <% cakes.each do |cake| %>
            <section class="cakes-item">
                <section class="info">
                    <h2><%= cake["cake_name"] %></h2>
                    <img src="<%= cake["image_url"] %>" alt="">
                    <h2><%= cake["price"] %></h2>
                    <a href="/cakes/<%= cake["id"] %>/edit">Edit</a>
                </section>
            </section>
        <% end %>
    </section>

</div>
<BR></BR>
<H3>HERE I NEED TO INSERT THE FOOTER FOR CONTACT US SECTION, SITE MAP, SOCIAL MEDIA</H3>
<footer></footer>