<h1>SIGN UP</h1>


<section class="sign-up">
  <form action="/users" method="POST">
    <label for="">Email: </label>
    <input type="text" name="email">
    <label for="">Password: </label>
    <input type="password" name="password">
    <button id="sign-up">SIGN UP</button>
  </form>
</section>